<a href="https://colab.research.google.com/github/Suchitra-V31/Machine-learning-projects/blob/main/Basic_Spam_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
#import the libraries
import pandas as pd

In [4]:
data=pd.read_csv('/content/spam.csv',encoding= 'latin-1')

In [5]:
data.head()

  class  ... Unnamed: 4
0   ham  ...        NaN
1   ham  ...        NaN
2  spam  ...        NaN
3   ham  ...        NaN
4   ham  ...        NaN

[5 rows x 5 columns]

In this dataset we can train the messages and class column and so we can drop the features which is not necessary.

In [10]:
data.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1,inplace=True)

Now we can check our data....

In [11]:
data.head()

  class                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [12]:
X=np.array(data['message'])
y=np.array(data['class'])

In [13]:
from sklearn.feature_extraction.text import CountVectorizer #Convert a collection of text documents to a matrix of token counts

In [15]:
cv=CountVectorizer()

In [17]:
X=cv.fit_transform(X)

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.33,random_state=42)

In [20]:
from sklearn.naive_bayes  import MultinomialNB

In [21]:
nb=MultinomialNB()

In [22]:
model=nb.fit(X_train,y_train)

In [23]:
pred=model.predict(X_test)

In [33]:
from sklearn.metrics import accuracy_score,classification_report

In [26]:
print(accuracy_score(y_test,pred))

0.9793365959760739

We could see that our model has trained and has also predicted with 97% accuracy...

In [34]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

         ham       0.99      0.99      0.99      1587
        spam       0.93      0.92      0.92       252

    accuracy                           0.98      1839
   macro avg       0.96      0.95      0.96      1839
weighted avg       0.98      0.98      0.98      1839